<h1 class="text-center">Контакты</h1>
<hr>
<div class="col-md-12 row center-block">
    <h4>Мы с соц. сетях:</h4>
    <a class="btn btn-vk" href="https://vk.com/ludus" target="_blank"><i class="fa fa-vk"></i> | Vkontakte</a>
    <a class="btn btn-twitter" href="https://twitter.com/ludus_ukraine" target="_blank"><i class="fa fa-twitter"></i> |
        Twitter</a>
</div>
<div class="col-md-12 row center-block" style="padding-top: 22px;">
     <h4>E-mail: <a href="mailto:info@ludus.com.ua">info@ludus.com.ua</a></h4>
</div>