<div>
    <div class="col-sm-12 col-md-12">
        <div class="text-center">
            <h2>Добро пожаловать в наш Ludus!</h2>

            <p>Мы занимаемся проведением pubstomp`ов по <strong>Dota 2</strong>.</p>

            <p> Полный перечень городов можно увидеть по этой <a
                    ng-click="toPubstomps()">ссылке</a></p>


            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                <iframe allowfullscreen=""
                        src="http://vk.com/video_ext.php?oid=-73771367&id=170582578&hash=730e504f905f46cf&hd=2"
                        width="607" height="360" frameborder="0"></iframe>
            </div>

            <p>Так же вы можете <a ng-click="toShop()">приобрести
                тематические сувениры.</a></p>

        </div>
    </div>
</div>