<div class="row col-md-offset-1 col-xs-offset-1 footer-media">
    <div class="col-md-2 col-xs-2 center-block">
        <a href="http://dota2.starladder.tv/" target="_blank">
            <img class="img-responsive center-block" src="img/mediapartners/starladder.png">
        </a>
    </div>
    <div class="col-md-2 col-xs-2 center-block">
        <a href="http://cyber.sport.ua" target="_blank">
            <img class="img-responsive center-block" src="img/mediapartners/sportua-footer.png">
        </a>
    </div>
    <div class="col-md-2 col-xs-2 center-block">
        <a href="http://gamestreamtv.ru/">
            <img class="img-responsive center-block" src="img/mediapartners/gamestreamtv.png">
        </a>
    </div>
    <div class="col-md-2  col-xs-2 center-block">
        <a href="http://playua.net/" target="_blank">
            <img class="img-responsive center-block" src="img/mediapartners/playua.png">
        </a>
    </div>
    <div class="col-md-2 col-xs-2 center-block">
        <a href="http://gameinside.ua/" target="_blank">
            <img class="img-responsive center-block" src="img/mediapartners/gameinside.png">
        </a>
    </div>
</div>
