<h1>Медиа-партнеры</h1>
<div class="row">
    <div class="col-md-4 col-xs-6">
        <a href="http://starladder.tv/">
            <img src="http://static.starladder.tv/images/logo_starladder_a.png" width="250" height="100">
        </a>
        <p><b>Starladder</b> это бла бла бла и бла бла бла</p>
    </div>
    <div class="col-md-4 col-xs-6">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRA5mcODMMrGTOS6aArh6i-M5p-h18QxL6tj-XFnzitVM0-a6Bn" width="250" height="150">
        <p> Вот еще наш обид медиа партнер)</p>
    </div>
    <div class="col-md-4 col-xs-6">медиа3</div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-6">медиа1</div>
    <div class="col-md-4 col-xs-6">медиа2</div>
    <div class="col-md-4 col-xs-6">медиа3</div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-6">медиа1</div>
    <div class="col-md-4 col-xs-6">медиа2</div>
    <div class="col-md-4 col-xs-6">медиа3</div>
</div>
