<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="toMain()">Ludus</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="dropdown navbar-right" >

            </div>
            <div class="dropdown navbar-right">
                <ul class="menu-list">
                    <li><a ng-click="toMain()">Главная</a></li>
                    <li><a ng-click="toShop()">Магазин</a></li>
                    <li><a ng-click="toMediapartners()">Медиапартнёры</a></li>
                    <li><a ng-click="toSponsors()">Спонсоры</a></li>
                    <li><a ng-click="toAbout()">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>