<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <div class="dropdown navbar-right" >
                <ul class="menu-list">
                    <li><span ng-bind="username"/></li>
                    <li><a data-toggle="modal" data-target=".modal-logout">Logout</a></li>
                </ul>
            </div>
            <ol class="ab-nav breadcrumb">
                <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- Small modal -->
<div class="modal fade modal-logout" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Do you really want to leave the <br>page?
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                    <div class="btn-group" ng-controller="UserCtrl">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="logout()">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>