<div class="row">
    <h3 class="center-block">Генеральный спонсор:</h3>

    <div class="col-md-12  col-xs-12 center-block">
        <a href="http://smt.ua/" target="_blank">
            <img class="img-responsive center-block" src="img/sponsors/smt.png">
        </a>
    </div>
    <div class="col-md-12  col-xs-12 center-block">
        <a href="http://ainol.ua/" target="_blank">
            <img class="img-responsive center-block" src="img/sponsors/ainol.png">
        </a>
    </div>
</div>
<h3 class="center-block">Спонсоры:</h3>