<div class="col-md-12 center-block">
    <a class="btn btn-vk" href="https://vk.com/event78022910" target="_blank"><i class="fa fa-vk"></i> | Присоединиться
        к встрече</a>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Место проведения</h3>

        <p class="text-center">
            г. Харьков, Полтавский шлях, 6, <a href="http://bommer.org.ua/" target="_blank"> Кинотеатр "Бомер"</a>
        </p>

        <h3 class="text-center">Дни проведения: <b>24, 25, 26 </b>октября</h3>

        <h4 class="text-center"><i>Информация по поводу продажи билетов находится в <a href="https://vk.com/event78022910" target="_blank">группе</a></i></h4>

    </div>

    <div id="map-container-khr" class="map-container col-xs-12"></div>

    <div class="col-md-12">
        <h3 class="text-center">Фото кинотеатра</h3>

        <div class="row padding-bottom">
            <div class="col-md-5">
                <img class="img-responsive" src="http://www.photo-kharkov.com/leisureentertainments/cinemas/bomer.jpg"/>
            </div>
            <div class="col-md-7">
                <img class="img-responsive" src="http://all.kharkov.ua/img_761.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive"
                     src="http://asset1.mapia.ua/assets/photos/000/019/305/photos/large/auditorium.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://all.kharkov.ua/img_760.jpg"/>
            </div>
        </div>
    </div>
</div>
