<div class="col-md-12 center-block">
    <a class="btn btn-vk" href="https://vk.com/event77898842" target="_blank"><i class="fa fa-vk"></i> | Присоединиться
        к встрече</a>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Место проведения</h3>

        <p class="text-center">
            г. Кременчуг, ул. Первомайская, 22В, <a href="https://vk.com/partycafe_garage" target="_blank"> Кафе "Гараж"</a>, 2 этаж
        </p>

        <h3 class="text-center">Дни проведения: <b>26 </b>октября</h3>

        <h4 class="text-center"><i>Информация по поводу продажи билетов находится в <a href="https://vk.com/event77898842" target="_blank">группе</a></i></h4>

    </div>

    <div id="map-container-kre" class="map-container col-xs-12"></div>

    <div class="col-md-12">
        <h3 class="text-center">Фото кафе</h3>

        <div class="row padding-bottom">
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c540104/c618717/v618717561/5f38/oSMTnI3C1v0.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c540104/c618717/v618717561/5f1d/m7pspyswgcw.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive"
                     src="https://pp.vk.me/c540104/c618717/v618717561/5f2f/VRiH_5p1RhY.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c540104/c618717/v618717561/5f14/agpIh6j9V4k.jpg"/>
            </div>
        </div>
    </div>
</div>