<div class="col-md-12 center-block">
    <a class="btn btn-vk" href="https://vk.com/event77895700" target="_blank"><i class="fa fa-vk"></i> | Присоединиться
        к встрече</a>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Місце проведення</h3>

        <p class="text-center">
            м. Львів, вул. Чайковського, 18, <a href="https://vk.com/public52339011" target="_blank"> Паб "Bierlin.Lemberg"</a>
        </p>

        <h3 class="text-center">Дні проведення: <b> 26 </b>жовтня</h3>

        <h4 class="text-center"><i>Інформація з приводу продажу квитків знаходиться у <a href="https://vk.com/event77895700" target="_blank">групі</a></i></h4>

    </div>

    <div id="map-container-lv" class="map-container col-xs-12"></div>

    <div class="col-md-12">
        <h3 class="text-center">Фото пабу</h3>

        <div class="row padding-bottom">
            <div class="col-md-4">
                <img class="img-responsive" src="https://pp.vk.me/c309420/v309420981/555b/VwZTDGQecdw.jpg"/>
            </div>
            <div class="col-md-8">
                <img class="img-responsive" src="https://pp.vk.me/c309420/v309420981/5564/m4qBAYglxPI.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive"
                     src="https://pp.vk.me/c405824/v405824981/8899/VAD5zXd1zOw.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c405824/v405824981/88ab/3SCz_E1ygkE.jpg"/>
            </div>
        </div>
    </div>
</div>