<div class="col-md-12 center-block">
    <a class="btn btn-vk" href="https://vk.com/event77896782" target="_blank"><i class="fa fa-vk"></i> | Присоединиться
        к встрече</a>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Место проведения</h3>

        <p class="text-center">
            г. Полтава, Ватутина, 2, <a href="https://vk.com/public46598010" target="_blank">Паб "Хмельной бык"</a>
        </p>

        <h3 class="text-center">Дни проведения: <b>26 </b>октября</h3>

        <h4 class="text-center"><i>Информация по поводу продажи билетов находится в <a href="https://vk.com/event77896782" target="_blank">группе</a></i></h4>

    </div>

    <div id="map-container-plt" class="map-container col-xs-12"></div>

    <div class="col-md-12">
        <h3 class="text-center">Фото паба</h3>

        <div class="row padding-bottom">
            <div class="col-md-5">
                <img class="img-responsive" src="http://pubs.org.ua/cdn/places/bb1662b7c5f22a0f905fd59e718ca05e/pab-hmelnoy-bik-4486-w1000h800.png"/>
            </div>
            <div class="col-md-7">
                <img class="img-responsive" src="http://pubs.org.ua/cdn/places/bb1662b7c5f22a0f905fd59e718ca05e/pab-hmelnoy-bik-4490-w1000h800.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive"
                     src="http://pubs.org.ua/cdn/places/bb1662b7c5f22a0f905fd59e718ca05e/pab-hmelnoy-bik-4488-w1000h800.png"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://pubs.org.ua/cdn/places/bb1662b7c5f22a0f905fd59e718ca05e/pab-hmelnoy-bik-4489-w1000h800.png"/>
            </div>
        </div>
    </div>
</div>

<!--
<script>
    function init_map1() {
        var var_location1 = new google.maps.LatLng(49.98859,36.225452);

        var var_mapoptions1 = {
            center: var_location1,
            zoom: 12
        };

        var var_marker1 = new google.maps.Marker({
            position: var_location1,
            map: var_map1,
            title: "Venice"});

        var var_map1 = new google.maps.Map(document.getElementById("map-container-plt"),
                var_mapoptions1);

        var_marker1.setMap(var_map1);

    }

    google.maps.event.addDomListener(window, 'load', init_map1);

</script>-->
