<div class="col-md-12 center-block">
    <a class="btn btn-vk" href="https://vk.com/event77898271" target="_blank"><i class="fa fa-vk"></i> | Присоединиться
        к встрече</a>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Место проведения</h3>

        <p class="text-center">
            г.Запорожье, ул.Патриотическая 49, <a href="https://vk.com/eclercafe_zp" target="_blank"> Ecler-Time Cafe</a>
        </p>

        <h3 class="text-center">Дни проведения: <b>26 </b>октября</h3>

        <h4 class="text-center"><i>Информация по поводу продажи билетов находится в <a href="https://vk.com/event77898271" target="_blank">группе</a></i></h4>

    </div>

    <div id="map-container-zap" class="map-container col-xs-12"></div>

    <div class="col-md-12">
        <h3 class="text-center">Фото кафе</h3>

        <div class="row padding-bottom">
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c618020/v618020545/1a8d1/e98EJNL_ziA.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c618020/v618020545/1a8e3/Ey0f0WHqTsA.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive"
                     src="https://pp.vk.me/c619222/v619222872/1baf0/qNlHSArqitM.jpg"/>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://pp.vk.me/c619222/v619222872/1bb2f/uLB16Z7CEd8.jpg"/>
            </div>
        </div>
    </div>
</div>
